:root {
    --primary-color: #3589ff;
    --secondary-color: #885dff;
    --footer-background-color: #ffed95;
    --text-light: #f5f5f5;
    --text-dark: #454545;
    --background-light: #f5f5f5;
    --background-dark: #dcdcdc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;

}

#chat-box {
    display: grid;
    grid-template-columns: 1fr;
    width: 28.5em;
    height: 60%;
    border-radius: .5em;
    overflow: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .6);
}

#chat-box-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: var(--primary-color);
}

#chat-box-title {
    padding-bottom: 0;
    color: var(--text-light);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#chat-box-desc {
    color: var(--text-light);
    font-size: 0.8em;
    padding-top: 0;
    margin-top: 1em;
}

#message-container {
    display: flex;
    height: 19em;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    overflow-y: scroll;
    gap: 1em;
    background-color: #ededed;
    overflow: scroll;
}

.bot-output {
    max-width: 65%;
    align-self: flex-start;
    padding: .8em .9em;
    border-radius: 1em 1em 1em .2em;
    background-color: var(--background-dark);
    color: #454545;
    font-size: .8em;
    line-height: 1.6;

}

.user-message {
    max-width: 65%;
    align-self: flex-end;
    padding: .8em .9em;
    border-radius: 1em 1em .2em 1em;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: .8em;
    line-height: 1.6;
}

#user-input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    padding: 1em;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

#user-input {
    width: 80%;
    padding: .8em;
    height: 3em;
    border: 1px solid #ccc;
    border-radius: 1.2em;
    font-size: 1em;
    background-color: rgb(230, 230, 230);
    resize: none;
    box-sizing: border-box;
}

#send-btn {
    width: 18%;
    /* padding: .8em; */
    height: 2.4em;
    border: none;
    border-radius: 1.2em;
    background-color: rgb(179, 179, 179);
    color: var(--text-light);
    font-size: 1em;
    box-sizing: border-box;
    text-align: center;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

#send-btn.hasContent {
    background-color: var(--primary-color);
    cursor: pointer;
}

#send-btn.hasContent:hover {
    background-color: #2563eb;
}

#chat-box-footer {
    text-align: center;
    padding: 1.5em;
    background-color: var(--footer-background-color);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

#chat-box-footer-text {
    font-size: .8em;
    line-height: 1.2;
    color: rgb(139, 105, 40);
}

#info-icon {
    height: 1em;
    width: 1em;
    padding: .06em .25em;
    border-radius: .2em;
    background-color: var(--primary-color);
    color: white;
}